.btn {
  position: relative;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-main);
  color: var(--color-text-light);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.3rem;
  line-height: 2rem;
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-in;
}

.btn span {
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.btn_white {
  display: inline-block;
  background-color: var(--bg-light);
  box-shadow: var(--shadow-main);
  color: var(--color-text);
  cursor: pointer;
}

.btn::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  box-shadow: 0 0 3px 0 hsla(194, 46%, 26%, 0.8);
  content: '';
  opacity: 0;
  transform-origin: center;
  transition-duration: 0.25s, 0.25s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in, ease-in;
}

.btn_white::before {
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.07);
}

@media (hover: hover) {
  .btn:hover::before {
    opacity: 1;
    transform: scale(1.015, 1.025);
  }

  .form--label_file:hover .btn_white::before {
    opacity: 1;
    transform: scale(1.03, 1.1);
  }
}

.btn:active {
  transform: scale(0.985, 0.975);
}

.btn:active span {
  opacity: 0.5;
}

.form--label_file:active .btn_white {
  opacity: 0.5;
  transform: scale(0.97, 0.9);
  transition-duration: 0.1s, 0.1s;
}
