div(class='hero-txt')
  h1(class='hero-txt--header')
    span(class='hero-txt--name') loft мебель
    span(class='hero-txt--title') Современная <br/>и удобная мебель <span>в Анапе</span>
    span(class='hero-txt--aside') С доставкой по Краснодарскому краю
  a(class='hero-txt--link' href='./catalog.html') Смотреть каталог