.order-table--row {
  display: grid;
  padding: 1rem 0.5rem;
  grid-template-columns: repeat(2, max-content) 1fr;
}

.order-table--row:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

thead .order-table--row:last-child {
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

.order-table--row .order-table--cell_name {
  grid-column: 1/4;
}

@media (min-width: 48em) {
  .order-table--row {
    padding: 0;
    grid-template-columns: 1fr 7rem repeat(2, 9rem);
  }

  .order-table--row .order-table--cell_name {
    grid-column: 1/2;
  }
}
