.product-info--tab {
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.2;
  opacity: 0.85;
  transition: 0.15s opacity ease-in;
}

.product-info--tab::after {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 1rem;
  background: var(--color-main);
  content: '';
  opacity: 0;
  transition: 0.15s opacity ease-in;
}

.product-info--tab:not(:last-child) {
  margin-right: 2rem;
}

.product-info--tab[aria-selected='true'] {
  opacity: 1;
}

.product-info--tab[aria-selected='true']::after {
  opacity: 1;
}

@media (min-width: 48em) {
  .product-info--tab {
    font-size: 1.6rem;
  }

  .product-info--tab:not(:last-child) {
    margin-right: 4rem;
  }
}

@media (min-width: 87.5em) {
  .product-info--tab:not(:last-child) {
    margin-right: 5rem;
  }
}
