.card--badge {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.2;
}

.card--badge svg {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.6rem;
}

.card--badge_stock {
  fill: var(--color-accent);
}

@media (min-width: 48em) {
  .card--badge {
    font-size: 1.2rem;
  }

  .card--badge svg {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.7rem;
  }
}
