.card--header {
  width: 100%;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.17;
  text-transform: capitalize;
}

@media (min-width: 48em) {
  .card--header {
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 87.5em) {
  .card--header {
    font-size: 1.6rem;
  }
}
