mixin icon(id)
  case id
    //- pages icon
    when 'about'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 11 14' width='11' height='14')
        use(href='#about-icon')
    when 'index'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 16 16' width='16' height='16')
        use(href='#index-icon')
    when 'contact'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 16 16' width='16' height='16')
        use(href='#contact-icon')
    when 'cart'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 20 20' width='20' height='20')
        use(href='#cart-icon')
    when 'delivery'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 29 18' width='29' height='18')
        use(href='#delivery-icon')
    when 'profile'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 15 20' width='15' height='20')
        use(href='#profile-icon')
    when 'wishlist'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 22 19' width='22' height='19')
        use(href='#wishlist-icon')
    
    //- contact icon
    when 'phone'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 19 19' width='19' height='19')
        use(href='#phone-icon')
    when 'inst'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 17 17' width='17' height='17')
        use(href='#inst-icon')
    when 'mail'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 18 16' width='18' height='16')
        use(href='#mail-icon')

    //- controls icon
    when 'etc'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 3 16' width='3' height='16')
        use(href='#etc-icon')
    when 'arrow'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 8 12' width='8' height='12')
        use(href='#arrow-icon')
    when 'arrow2'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 9 14' width='9' height='14')
        use(href='#arrow2-icon')
    when 'cross'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 8 8' width='8' height='8')
        use(href='#cross-icon')
    when 'star'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 15 15' width='15' height='15')
        use(href='#star-icon')
    when 'menu'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 19 12' width='19' height='12')
        use(href='#menu-icon')

    //- category icon
    when 'armchair'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 14 14' width='14' height='14')
        use(href='#armchair-icon')
    when 'bedroom'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 28 23' width='28' height='23')
        use(href='#bedroom-icon')
    when 'childrensroom'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 23 22' width='23' height='22')
        use(href='#childrensroom-icon')
    when 'closet'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 22 22' width='22' height='22')
        use(href='#closet-icon')
    when 'cupboard'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 12 14' width='12' height='14')
        use(href='#cupboard-icon')
    when 'kitchen'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 23 23' width='23' height='23')
        use(href='#kitchen-icon')
    when 'livingroom'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 30 23' width='30' height='23')
        use(href='#livingroom-icon')
    when 'mattress'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 20 14' width='20' height='14')
        use(href='#mattress-icon')
    when 'new'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 22 22' width='22' height='22')
        use(href='#new-icon')
    when 'office'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 23 22' width='23' height='22')
        use(href='#office-icon')
    when 'stock'
      svg(aria-hidden='true' focusable='false' viewBox='0 0 18 18' width='18' height='18')
        use(href='#stock-icon')