include ../icon/icon.pug

header(class='header')
  include ../nav/nav.pug
  include ../logo/logo.pug
  include ../search-bar/search-bar.pug
  include ../header-links/header-links.pug
  include ../user-bar/user-bar.pug
