.carousel--control {
  position: relative;
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--bg-light);
  cursor: pointer;
  transform-origin: center;
  transition-duration: 0.15s, 0.15s;
  transition-property: background-color, transform;
  transition-timing-function: ease-in, ease-in;
}

.carousel--control::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  box-shadow: 0 0 2px 0 hsla(0, 0%, 100%, 0.8);
  content: '';
  opacity: 0;
  transform-origin: center;
  transition-duration: 0.15s, 0.15s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in, ease-in;
}

.carousel--control:hover::before {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

.carousel--control:active::before {
  transform: scale(1, 1);
  transition-duration: 0.1s, 0.1s;
}

.carousel--control_next {
  transform: scaleX(-1);
}

.carousel--control_prev:active {
  transform: translateX(2px) translateY(1px);
  transition-duration: 0.1s, 0.1s;
}

.carousel--control_next:active {
  transform: scaleX(-1) translateX(2px) translateY(1px);
  transition-duration: 0.1s, 0.1s;
}

.carousel--control[disabled] {
  background-color: hsl(0, 0%, 62%);
}

.carousel--control[disabled]:hover::before {
  opacity: 0;
  transform: scale(1, 1);
}

.carousel--control_prev[disabled]:active {
  transform: translateX(0);
}

.carousel--control_next[disabled]:active {
  transform: scaleX(-1) translateX(0);
}

.carousel--control svg {
  fill: hsl(0, 0%, 62%, 28%);
  transition: 0.15s fill ease-in;
}

.carousel--control[disabled] svg {
  fill: var(--bg-light);
}

.carousel--control:focus,
.carousel--control:focus-visible {
  z-index: 2;
}

@media (min-width: 87.5em) {
  .carousel--control[disabled] {
    background-color: hsl(0, 0%, 62%, 28%);
  }
}
