@import './common.css';
@import '../components/product/product.css';
@import '../components/form/form-product/form-product.css';
@import '../components/product-info/product-info.css';
@import '../components/carousel-tab/carousel-tab.css';
@import '../components/grid-card/grid-card.css';
@import '../components/card/card.css';
@import '../components/breadcrumbs/breadcrumbs.css';

.wrap-product .breadcrumbs {
  margin-bottom: 1rem;
}

.product-box {
  margin-bottom: 4rem;
}

.product-box .carousel-tab {
  margin-bottom: 3rem;
}

.product-box .product {
  margin-bottom: 2.5rem;
}

.wrap-product .hits-box {
  margin-bottom: 5rem;
}

.wrap-product .hits-box .subheading {
  margin-bottom: 1rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .wrap-product .breadcrumbs {
    margin-bottom: 2rem;
  }

  .product-box .carousel-tab {
    margin-bottom: 4rem;
  }

  .product-box,
  .product-box .product {
    margin-bottom: 5rem;
  }

  .wrap-product .hits-box {
    margin-bottom: 6rem;
  }

  .wrap-product .hits-box .subheading {
    margin-bottom: 3rem;
    font-weight: 400;
  }
}

@media (min-width: 87.5rem) {
  .product-box {
    display: grid;
    margin-bottom: 9rem;
    column-gap: 3rem;
    grid-template-columns: 65.3rem auto;
  }

  .product-box .carousel-tab {
    margin-bottom: 4.5rem;
  }

  .product-box .product-info {
    grid-column: 1/3;
  }

  .product-box .product-info--meta {
    display: grid;
    column-gap: 3rem;
    grid-auto-flow: dense;
    grid-template-columns: 65.3rem auto;
    row-gap: 2.3rem;
  }

  .product-box .product-info--meta-item {
    margin-top: 0;
  }

  .product-box .product-info--meta-item_first {
    grid-column: 1/2;
  }

  .product-box .product-info--meta-item_first .product-info--meta-value {
    width: 58%;
  }

  .wrap-product .hits-box {
    margin-bottom: 7rem;
  }
}
