include ../icon/icon.pug
button(class='btn-like' type='button' aria-pressed='false' data-btn='like' tabindex='0')
  span(class='btn-like--icon')
    +icon('wishlist')
  span(class='btn-like--txt' aria-hidden='true') Добавить в избранное
  span(class='visually-hidden') Добавить в избранное.