button(class='nav--btn' aria-haspopup='true' aria-expanded='false' aria-controls='menu' data-nav='btn_open')
  span(aria-hidden='true')
  span(aria-hidden='true')
  span(aria-hidden='true')
  div(class='visually-hidden') menu