@import './grid-offer--item.css';
@import './grid-offer--grid.css';

.grid-offer {
  display: flex;
  width: calc(100% + var(--layout-h-space) * 2);
  padding: 1rem var(--layout-h-space);
  margin-left: calc(var(--layout-h-space) * -1);
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-color: var(--color-main) hsl(0, 0%, 90%, 1);
  scrollbar-width: thin;
}

.grid-offer::-webkit-scrollbar {
  height: 3px;
  -webkit-appearance: none;
}

.grid-offer::-webkit-scrollbar-track {
  margin: 0 var(--layout-h-space);
  background-color: hsl(0, 0%, 90%, 1);
}

.grid-offer::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
}
