mixin grid-offer(arrId)
  include ../card/card.pug
  div(class='grid-offer' role='grid' id='grid-offer')
    div(class='grid-offer--grid' role='row')
      each val in arrId
        div(class='grid-offer--item' role='gridcell')
          - var data = require(`BD/product/${val}/preview.json`)
          +card(data)
