@import './order-list--list.css';
@import './order-list--count.css';
@import './order-list--total.css';
@import './order-list--btn-order.css';
@import './order-list--item.css';

.order-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
}

.order-list_remove .order-list ~ * {
  transform: translateY(-13.5rem);
  transition: transform 0.15s ease-in 0.15s;
}

@media (min-width: 35.5em) {
  .order-list_remove .order-list ~ * {
    transform: translateY(-11.2rem);
  }
}

@media (min-width: 48em) {
  .order-list_remove .order-list ~ * {
    transform: translateY(-13.9rem);
  }
}

/* footer {
  transition: transform 0.5s ease-in;
} */

/* .order-list_remove footer {
  transform: translateY(-139px);
  transition: transform 0.5s ease-in;
} */
