include ../../icon/icon.pug
button(class='nav--btn-close' aria-haspopup='true' aria-expanded='true' aria-controls='menu' data-nav='btn_close')
  +icon('cross')
  span(class='visually-hidden') закрыть меню.