div(class='bonus-info')
  p(class='bonus-info--item')
    span(class='bonus-info--icon')
      include ../../images/icon/cashback.svg
    span Возвращаем до 7% на бонусный счет
  p(class='bonus-info--item')
    span(class='bonus-info--icon')
      include ../../images/icon/rub.svg
    span 1 бонус = 1 рубль
  p(class='bonus-info--item')
    span(class='bonus-info--icon')
      include ../../images/icon/gift.svg
    span Оплачивайте бонусами до 20% от покупки