.bonus-info--item {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 1.4rem;
  line-height: 1.3;
}

@media (min-width: 48em) {
  .bonus-info--item {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
