.link--txt {
  position: relative;
  padding: 5px;
}

.link--txt::before {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: calc(100% - 10px);
  height: 2px;
  background-color: hsl(0, 0%, 80%);
  content: '';
  opacity: 0;
  transform: scaleX(0.5);
  transform-origin: center;
  transition-duration: 0.25s, 0.25s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in, ease-in;
}

.link_stock .link--txt {
  color: var(--color-accent);
}

.link:hover .link--txt::before {
  opacity: 1;
  transform: scaleX(1);
}

.link:active .link--txt::before {
  opacity: 0;
  transform: scaleX(0.5);
}
